.footer{
    width: 100%;
    height: 100px;
    background-color: #88888888;
}
@media screen and (max-width: 545px){
    .footer{
        height: 120px;
    }
}
@media screen and (max-width: 480px){
    .footer{
        height: 150px;
    }
}
@media screen and (max-width: 400px){
    .footer{
        height: 175px;
    }
}